html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    background-image: url("../images/background-header.jpg");
    height: 973px;
    background-size: cover;
    background-position: 0 52%;
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 1903px;
    margin: 0 auto;
}

body {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #4F4F4F;
}

.description {
    color: #4F4F4F;
    margin-bottom: 30px;
    width: 326px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.title {
    color: #EB5757;
    font-size: 94px;
    font-weight: 900;
    line-height: 100px;
    margin-bottom: 30px;
    font-family: 'SF Pro Display', sans-serif;
}

.title span {
    display: block;
    color: #4F4F4F;
    font-size: 34px;
    font-weight: 300;

    line-height: 40px;

}

.title-main {
    /*top: 50px;*/
    padding: 50px 0;
    margin-left: 352px;
}


.title-container {
    width: 326px;
    margin: 0 auto;


}

.main-font {
    font-family: 'SF Pro Display', sans-serif;
}

.container {
    display: flex;
    align-items: center;


}

.container__column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.container__column div {
    align-items: flex-start;
}

.header-button {
    font-family: 'Poppins', sans-serif;
    padding: 15px 52px 15px 51px;
    border: 0;
    border-radius: 40px;
    background: #f2c94c;
    color: black;
    font-weight: 700;
    font-size: 14px;
    margin-right: 30px;
}

.link {
    color: #EB5757;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.logo {
    width: 470px;
    height: 100px;
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 770px;*/
    margin: 6% 0% 6% 40%;

}
.service-bg{
    background-image: url("../images/background-top.png");
    background-size: cover;
    background-position: 52%;
    background-repeat: no-repeat;
    padding: 94px 0;
}
.services {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-row-gap: 72px;
    grid-column-gap: 44px;
    width: 1048px;
    margin: 0 auto;

}

.service {
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 4px 50px rgba(120, 143, 156, 0.25);
    height: fit-content;
    width: fit-content;
    position: relative;
    /*display: flex;*/
    /*flex-direction: column;*/

}

.service-text {
    background-color: #FFFFFF;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 56px;
    text-align: center
}

.service-button {
    font-family: 'Google Sans', sans-serif;
    padding: 16px 69px;
    border: 0;
    border-radius: 18px;
    background: linear-gradient(90deg, #EB7598 0%, #FF926F 100%);
    box-shadow: 0px 10px 25px rgba(251, 112, 112, 0.45);
    color: white;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    left: 70px;
    bottom: -25px;

}

.bg-about-us {
    background-image: url("../images/bgbot.png");
    height: 973px;
    background-size: cover;
    background-position: 52%;
    background-repeat: no-repeat;

}

.about-us-item {
}

.about-us-item span {
    box-sizing: border-box;
    border: 1px solid #D89595;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #D89595;
}

.about-us {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-row-gap: 42px;
    grid-column-gap: 50px;
    padding: 60px 0;
    width: 1090px;
    margin: auto;
}

.about-us-buttons {
    margin-left: 400px;
}

.gallery {
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 282px);*/
    /*grid-gap: 25px;*/
    /*padding: 0 352px;*/
    display: flex;
    flex-wrap: wrap;
    width: 1201px;
    margin: auto;
    justify-content: space-around;
}

.gallery__images {
    margin-bottom: 20px;
}

.contact {
    background: #E15252;
    height: 648px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    border-radius: 0px 0px 50px 50px;
}

.contact h2 {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100.5%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 92px;
}

.contact input {
    width: 374px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 61px;
    margin-bottom: 14px;
    border: none;

}

.contact button {

    box-sizing: border-box;
    width: 168px;
    height: 56px;
    border: 3px solid #FFFFFF;
    border-radius: 61px;
    background-color: rgba(255, 255, 255, 0);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 50px 96px;*/
    justify-content: space-around;
}

.main-footer {
    display: flex;
    justify-content: center;
}

.footer-link {
    margin-bottom: 35px;
}

.footer-link span {
    margin-left: 22px;
}

.info {
    margin-top: 25px;
    margin-left: 102px;
}

@media (max-width: 1366px) {
    .logo {
        width: 370px;
        height: 75px;
        margin: 5% 0% 3% 35%;
    }

    .title-container {
        width: 326px;
        margin: 2% 0% 6% 37%;
    }

    header {
        height: 625px;

    }

}

@media  (max-width: 1199px) {
    .services{
        grid-template-columns: repeat(2, 320px);
        width: 684px;
    }
    .about-us{
        grid-template-columns: repeat(2, 330px);
        width: 665px;
    }
    .gallery{
        width: 615px;
    }
    .contact{
        width: 100%;
    }
}
